* {
    margin: 0;
}

body {
    max-width: 600px;
}

.navigation {
    display: flex;
    background-color: black;
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

header {
    color: white;
    background-color: rgb(63, 63, 63);
    font-size: 8px;
}

h1 {
    height: 40px;
    padding: 10px;
    font-weight: normal;
}

main {
    display: grid;
    grid-template-columns: 1fr 150px;
    height: 150px;
}

.main {
    grid-column: 1/2;
    background-color: rgb(169, 169, 169);
    padding: 10px;
    color: rgb(29, 29, 29);
    height: auto;
}

.aside {
    grid-column: 2/3;
    padding: 10px;
    color: rgb(29, 29, 29);
    height: auto;
}

footer {
    background-color: rgb(63, 63, 63);
    text-align: center;
    color: white;
    padding: 10px;
    height: 60px;
}