:root {
    --color-background: rgb(0, 0, 164);
    --color-primary: rgb(245, 245, 245);
    --color-border: rgb(159, 159, 171);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    max-width: 850px;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
}

header {
    background-color: var(--color-background);
    text-align: center;
    color: var(--color-primary);
}

#course-title {
    color: var(--color-primary);
    font-size: 20px;
    padding: 10px;
    display: block;
}

nav {
    display: flex;
    background-color: rgb(65, 65, 65);
    justify-content: space-around;
    text-decoration: none;
    padding: 10px 0;
    list-style-type: none;
    color: var(--color-primary);
}

nav a {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 12px;
}

nav a:hover {
    text-decoration: overline;
}

main {
    max-width: 850px;
    display: grid;
    grid-template-columns: 540px 270px;
    grid-template-rows: 35px 1fr;
    justify-content: center;
    margin: 0 0 15px 0;
}

main h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 25px;
    text-align: center;
    margin: 5px 0;
}

.card {
    border-radius: 10px;
    border: 1px solid var(--color-border);
}

.sec1 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 10px 0;
}

.card h2 {
    background-color: var(--color-background);
    color: var(--color-primary);
    text-align: center;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
}

.sec1 img {
    width: 120px;
    height: auto;
    float: right;
    margin: 10px 15px 8px 0 ;
}

.sec1 p {
    margin: 10px;
}

.inside {
    width: 385px;
    align-items: center;
}

.inside h2 {
    color: rgb(26, 25, 25);
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-border);
    width: 300px;
    margin: 0 0 0 40px;
}

.inside figure {
    float: left;
    margin-top: 25px;
}

.inside figure img {
    width: 130px;
    height: auto;
    margin: 10px 15px;
}

.inside figure figcaption {
    font-size: 12px;
    margin: 0 0 5px 10px;
}

.inside p {
    margin: 15px 10px 10px 0;
}

.sec2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 10px 0 0 ;
}

.sec2 ul {
    margin: 95px 0 0 45px;
}

.sec2 li {
    margin-top: 10px;
}

footer {
    background-color: var(--color-background);
    color: var(--color-primary);
    text-align: center;
    padding: 10px;
}

#lastModified {
    color: rgb(231, 231, 51);
}