* {
    margin: 0;
    padding: 0;
}

:root {
    --color-background: rgb(168, 0, 0);
    --color-text: rgb(255, 255, 255);
    --color-border: rgb(183, 75, 37);
}

header,
footer {
    background-color: var(--color-background);
    color: var(--color-text);
    text-align: center;
    border-bottom: 10pbax solid var(--color-border);
    padding: 10px 0;
    max-width: auto;
}


/* mobile device view */

body {
    max-width: 650px;
    min-width: 150px;
    width: 100%;
}

picture img {
    max-width: 100%;
    min-width: 150px;
    height: auto;
    border-bottom: 4px solid var(--color-border);
}

.data {
    border-bottom: 1px solid rgb(189, 189, 189);
    text-align: center;
    margin-bottom: 20px;
}

table {
    margin: auto;
    padding: 10px;
}

.one {
    text-align: right;
    font-weight: bold;
    padding-left: 0;
}

td {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.weather {
    text-align: center;
}

.weather img {
    max-width: 20%;
}

/* desktop device view */

@media screen and (min-width: 800px) {
    body {
        max-width: 1500px;
    }

    header {
        padding: 20px;
    }

    h1 {
        font-size: 40px;
    }

    main {
        height: auto;
    }

    .hero {
        position: relative;
    }

    picture img{
        max-width: 100%;
        min-width: 801px;
        border: none;
        display: block;
    }

    .data,
    .weather {
        position: absolute;
        width: 280px;
        background-color: rgb(255, 255, 255, 0.5);
        border: none;
        box-shadow: 3px 10px 20px rgb(0, 0, 0);
        z-index: 10;
    }

    .weather {
        bottom: 20px;
        right: 30px;
    }

    .data {
        top: 20px;
        left: 30px;
    }

    .weather img {
        display: none;
    }

    h2 {
        position: relative;
        background-color: var(--color-background);
        top: 10px;
        padding: 8px;
        padding-left: 15px;
        right: 35px;
        text-align: left;
        color: var(--color-text);
        margin: 0 8% 10px;
    }

    #weather::after {
        content: "🌥️";
        font-size: 22px;
        align-items: right;
        margin-left: 15px;
    }

}

