* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #cdcdcd;
    padding: 16px;
    background-color: rgb(187, 187, 254);
}

p {
    margin-top: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 16px;
    background-color: rgb(238, 255, 196);
}